body {
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 375px) {
  .footer {
    background-color: #353535;
    color: #fff;
  }
  .footer .footer-infos {
    padding: 0px 20px 38px 20px;
  }
  .footer .footer-title {
    font-family: "Shrikhand";
    font-weight: normal;
    padding: 27px 0;
  }
  .footer .footer-menu li {
    list-style: none;
    padding-bottom: 9px;
  }
  .footer .footer-menu li a {
    color: #fff;
    text-decoration: none;
  }
  .footer .footer-infos-icon-design {
    margin-right: 15px;
    display: inline-block;
    width: 1px;
  }
  .footer .footer-infos-icon-design i {
    font-size: 11px;
  }
}

@media screen and (min-width: 560px) {
  .footer .footer-title {
    text-align: center;
  }
  .footer .footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer .footer-menu li {
    padding-bottom: 0px;
  }
  .footer .liste-1, .footer .liste-2, .footer .liste-3, .footer .liste-4 {
    display: flex;
    justify-content: center;
    line-height: 2em;
  }
}

@media screen and (min-width: 800px) {
  .footer .footer-title {
    text-align: center;
  }
  .footer .footer-menu {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 375px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px 0;
    font-family: "Shrikhand";
  }
  .header .header-icon {
    position: absolute;
    left: 5%;
  }
  .header .header-logo {
    font-size: 2em;
  }
}

@media screen and (min-width: 375px) {
  .menu-image img {
    max-width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .card {
    position: relative;
    z-index: 1;
    bottom: 50px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
.card .card-title-icon {
  margin: 0 14px;
  padding-top: 35px;
  font-family: "Shrikhand";
  padding-bottom: 36px;
  display: flex;
}
.card .card-icon {
  font-size: 1.5em;
  margin: auto 0px;
  position: relative;
  left: 20%;
}
.card .card-icon:active .heart-full {
  animation: animation_heart 600ms linear alternate both;
  background: linear-gradient(to bottom, #ff79da, #9356cd);
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  font-weight: 600;
  color: transparent;
}
@keyframes animation_heart {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1.1);
  }
}
.card .cards-menu {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}
.card.cards-entrees {
  grid-area: entrees;
}
.card.cards-plats {
  grid-area: plats;
}
.card.cards-desserts {
  grid-area: desserts;
}
.card .cards-title {
  padding-bottom: 10px;
}
.card .cards-title h2 {
  font-size: 1em;
  font-weight: 400;
  margin-left: 14px;
  padding-bottom: 5px;
}
.card .cards-desserts, .card .cards-plats {
  margin-top: 44px;
}
.card .cards-entrees-title-trait {
  background-color: #99e2D0;
  height: 0.7vh;
  width: 40px;
  margin-left: 14px;
  margin-bottom: 6px;
}
.card .card-items {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: "nom nom check" "description prix check";
  margin: 0 14px;
  height: 10vh;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  padding-left: 0 23px;
  align-items: center;
  animation: apparition ease-in-out 1500ms backwards;
}
@keyframes apparition {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.card .card-name {
  grid-area: nom;
  padding: 10px 10px 0 10px;
}
.card .card-description {
  grid-area: description;
  padding: 10px 0px 10px 10px;
}
.card .card-name, .card .card-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card .card-price {
  grid-area: prix;
  padding-right: 23px;
}
.card .card-check {
  grid-area: check;
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  box-sizing: border-box;
  transition: all 400ms ease-in-out;
  border-radius: 0px 20px 20px 0px;
  background-color: #99e2D0;
  align-self: stretch;
  width: 0px;
}
.card .card-items:hover .card-check {
  width: 73px;
}
.card .card-items:hover .icon-check {
  transition: all 400ms ease-in-out;
  transform: rotate(360deg);
  border-radius: 20px;
  background-color: #fff;
  color: #99e2D0;
  padding: 3px;
}
.card .icon-check {
  display: flex;
  align-self: center;
  font-size: 1.2rem;
  color: #fff;
  overflow: hidden;
}
.card .button-command {
  display: flex;
  justify-content: center;
}
.card .button-command .command {
  margin-top: 50px;
  margin-bottom: 83px;
  height: 6vh;
  border-radius: 30px;
  width: 200px;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1em;
  background: linear-gradient(0deg, #9356cd, #ff79da);
}

@media screen and (min-width: 600px) {
  .card-title-icon {
    justify-content: center;
  }

  .card-icon {
    position: unset !important;
    padding-left: 30px;
  }

  .cards-menu {
    grid-template-rows: repeat(2, 1fr) !important;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-title h2 {
    text-align: center;
  }

  .card .cards-entrees-title-trait {
    width: 91% !important;
  }

  .card .cards-plats {
    margin-top: 0;
  }

  .command {
    margin-top: 45px !important;
  }
}
@media screen and (min-width: 960px) {
  .menu-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .cards-menu {
    display: flex !important;
    justify-content: space-around;
  }

  .card .cards-desserts {
    margin-top: 0;
  }

  .cards-entrees, .cards-plats, .cards-desserts {
    width: 33%;
  }

  .card .cards-entrees-title-trait {
    width: 94% !important;
  }

  .command {
    margin-top: 50px !important;
  }
}
@media screen and (min-width: 375px) {
  .header-index {
    background-color: #fff;
    box-shadow: 0 0 15px rgb 0 0 0/100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-index .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 0;
  }
  .header-index .logo {
    width: 46%;
    height: auto;
  }
}

@keyframes animation__spiner {
  to {
    visibility: hidden;
    display: none;
  }
}
@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anim_text {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.animation-loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 15;
  animation: animation__spiner 1s 1s forwards;
}

/* Logo */
.loading-spinner-logo {
  font-size: 1.6rem;
  font-family: "Shrikhand";
  color: #000;
  position: absolute;
  animation: anim_text 800ms infinite backwards;
}

/* Ligne circulaire bleu-magenta */
.loading-spinner {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid #9356cd;
  animation: spiner 2s linear 200ms infinite;
}

.loading-spinner::before,
.loading-spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
}

/* Ligne circulaire magenta */
.loading-spinner::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #ff79da;
  animation: spiner 1s linear 600ms infinite;
}

/* Ligne circulaire vert clair */
.loading-spinner::after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #99e2D0;
  animation: spiner 1s linear infinite;
}

@media screen and (min-width: 375px) {
  .localisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    opacity: 0.8;
  }
}
.localisation .localisation-choix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  padding: 16px 0;
}
.localisation input[type=text] {
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1em;
}
.localisation input[type=text]::placeholder {
  color: #000;
  opacity: 1;
}

@media screen and (min-width: 375px) {
  .booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
  }
  .booking .booking-title {
    width: 70%;
    text-align: center;
    padding-top: 40px;
  }
  .booking .booking-description {
    width: 80%;
    text-align: center;
    padding-top: 20px;
  }
  .booking .booking-button-explorer {
    padding: 30px 0 57px 0;
  }
  .booking .explorer {
    border-radius: 30px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #fff;
    background: linear-gradient(0deg, #9356cd 0%, #ff79da 120%);
    font-size: 1em;
    font-weight: 400;
    padding: 0 20px;
    width: 100%;
    height: 8vh;
    transition: opacity 600ms ease-in-out;
  }
  .booking .explorer:hover {
    opacity: 0.5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  }
}

@media screen and (min-width: 375px) {
  .operations {
    margin: 0 20px 38px 20px;
  }
  .operations .operation-title {
    padding: 51px 0 34px 0;
  }
  .operations .operation-position {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
  }
  .operations.choix {
    grid-area: choix;
  }
  .operations.composition {
    grid-area: composition;
  }
  .operations.degustation {
    grid-area: degustation;
  }
  .operations .operation {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 95%;
    height: 10vh;
    background-color: #f6f6f6;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 30px;
    z-index: 1;
    transition: opacity 600ms ease-in-out;
  }
  .operations .operation:hover {
    opacity: 0.5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  }
  .operations .operation.color {
    background: #f5eefe;
  }
  .operations .operation .operation-number {
    background-color: #9356cd;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    z-index: 2;
    left: -12px;
  }
  .operations .operation .operation-icone {
    position: absolute;
    left: 10%;
  }
  .operations .operation .color-prim {
    color: #9356cd;
  }
  .operations .operation .operation-text {
    position: absolute;
    left: 20%;
    font-weight: 600;
  }
}

@media screen and (min-width: 560px) {
  .operations .operation-position {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    margin-bottom: 30px;
  }
  .operations .choix, .operations .composition, .operations .degustation {
    width: 90%;
    margin-left: 3%;
  }
}

@media screen and (min-width: 800px) {
  .operations .operation-position {
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 68px;
  }
  .operations .choix, .operations .composition, .operations .degustation {
    width: 90%;
    margin-left: 1%;
  }
  .operations .choix, .operations .composition {
    margin-right: 15px;
  }
}

@media screen and (min-width: 375px) {
  .restaurants {
    background-color: #f6f6f6;
    padding: 59px 0 44px 0;
  }
  .restaurants .restaurants-title {
    margin: 0px 20px;
    padding-bottom: 28px;
  }
  .restaurants .restaurants-cards {
    margin: 0px 20px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
  .restaurants .restaurant-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
  }
  .restaurants .restaurant-info {
    position: absolute;
    background-color: #99e2D0;
    color: #169475;
    top: 13px;
    right: 13px;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.9em;
  }
  .restaurants .restaurant-card-lien {
    text-decoration: none;
    color: #000;
  }
  .restaurants .restaurant-img img {
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .restaurants .restaurant-title-icon {
    display: flex;
    justify-content: space-between;
    margin: 10px 25px 10px 14px;
  }
  .restaurants .restaurant-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    margin: auto 0px;
  }
  .restaurants .restaurant-icon {
    font-size: 1.5em;
    position: absolute;
    right: 21px;
  }
  .restaurants .restaurant-icon:active .heart-full {
    animation: animation_heart 600ms linear alternate both;
    background: linear-gradient(to bottom, #ff79da, #9356cd);
    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    font-weight: 600;
    color: transparent;
  }
  @keyframes animation_heart {
    0% {
      transform: scale(0.1);
    }
    100% {
      transform: scale(1.1);
    }
  }
}

@media screen and (min-width: 560px) {
  .restaurants .restaurants-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .restaurants .palette, .restaurants .francaise {
    width: 95%;
  }
}

@media screen and (min-width: 800px) {
  .restaurants .restaurants-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .restaurants .palette, .restaurants .enchantee, .restaurants .delice {
    width: 92%;
  }
}

@media screen and (min-width: 1060px) {
  .restaurants .restaurants-cards {
    display: flex;
    justify-content: space-around;
  }
  .restaurants .palette, .restaurants .enchantee, .restaurants .francaise {
    margin-right: 20px;
  }
}

/*# sourceMappingURL=style.css..map */
