body{
    font-family: $policy-text;
}
*{
    @include dim-pages;
}

/*FOOTER de toutes les pages*/
.footer{
    @media screen and (min-width: 375px){
     background-color: #353535;
     color: $color;
        .footer-infos{
            padding: 0px 20px 38px 20px;
        }
        .footer-title{
            font-family: $policy;
            font-weight: normal;
            padding: 27px 0;
        }
        .footer-menu li{
            list-style: none;
            padding-bottom: 9px;
        }
        .footer-menu li a {
            color: $color;
            text-decoration: none;
        }
        .footer-infos-icon-design{
            margin-right: 15px;
            display: inline-block;
            width: 1px;
            & i{
                font-size: 11px;
            }
        }
    }
}
.footer{
    @media screen and (min-width: 560px){
        .footer-title{
            text-align: $align;
        }
        .footer-menu{
            display: $display2;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .footer-menu li{
            padding-bottom: 0px;
        }
        .liste-1, .liste-2, .liste-3, .liste-4{
            display: $display;
            justify-content: center;
            line-height: 2em;
        }
    }
}
.footer{
    @media screen and (min-width: 800px){
        .footer-title{
            text-align: $align;
        }
        .footer-menu{
            display: $display;
            justify-content: space-around;
        }
    }
}

/* HEADER des pages menu*/
.header{
    @media screen and (min-width: 375px){
        @include flexible;
        padding: 23px 0;
        font-family: $policy;
        .header-icon{
            position: absolute;
            left: 5%;
        }
        .header-logo{
            font-size: 2em;
            display: $display;
            justify-content: $align;
        }
        .logo{
            width: 50%;
            height: auto;
        }
    }
 }

/*IMAGE de la carte du menu*/
.menu-image{
    @media screen and (min-width: 375px){
        img{
            max-width: 100%;
        }
    }
}

/*MENU de la carte*/
.card{
    @media screen and (min-width: 375px){
        position: relative;
        z-index: 1;
        bottom: 50px;
        background-color: $color;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .card-title{
        font-size: .9em;
    }

    .card-title-icon{
        margin: 0 14px;
        padding-top: 35px;
        font-family: $policy;
        display: $display;
    }

    .card-icon{
        font-size: 1.5em;
        margin: auto 0px;
        position: absolute;
        left: 84%;
        top: 3%
    }
    
    .card-icon:active .heart-full{
    /*Animation replissage du coeur au clic + mixin*/
        @include heart-full($color-secondary, $color-primary);
    }
    @keyframes animation_heart {
        0% {
          transform: scale(0.1);
        }
        100% {
          transform: scale(1.1);
        }
    }

    .cards-menu{
        display: grid;
        // grid-template-rows: repeat(3, 1fr);
    }
        &.cards-entrees{
            grid-area: entrees;
        }
        &.cards-plats{
            grid-area: plats;
        }
        &.cards-desserts{
            grid-area: desserts;
        }

    .cards-title{
        padding-bottom: 10px;
    }
    .cards-title h2{
        font-size: 1em;
        font-weight: 400;
        margin-left: 14px;
        padding-bottom: 5px;
    }
    .cards-entrees, .cards-desserts, .cards-plats{
        margin-top: 44px;
    }
    .cards-entrees-title-trait{
    /*Surlignement trait vert des titres Entrées, Plats et Desserts*/
        @include trait-vert ($color-tertiary);
        margin-bottom: 6px
    }
    .card-items{
    /*Apparition du menu progressivement*/
        @include menu;
        animation: apparition ease-in-out 1500ms backwards;
    }
    @keyframes apparition {
        0%{
            transform: translateY(50px);
            opacity: 0;
        }
        50%{
            opacity: .5;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
    .card-name{
        grid-area: nom;
        padding: 10px 10px 0 10px;
        font-size: 18px;
        
    }
    .card-description{
        grid-area: description;
        padding: 10px 0px 10px 10px;
        font-size: 15px;
        
    }
    .card-name, .card-description{
    /*Lors de la sélection d'une entrée, un plat ou un dessert. Un système de coche apparait qui peut écraser un bout ou du texte.
    Ce bout de texte ou texte est remplacé par l'attribut Ellipsis (trois petits points)*/
        @include ellipsis
    }
    .card-price{
        grid-area: prix;
        padding-right: 23px;
        font-size: 15px;
    }

    .card-check{
        grid-area: check;
        @include check($color-tertiary);
    }
    .card-items:hover .card-check{
        width: 73px;
    }
    .card-items:hover .icon-check{
    /*Apparition du système de coche lors du passage du curseur de la souris*/
        @include transition-check($color-tertiary);
        padding: 3px;
    }
    .icon-check{
        @include menu-check;
    }
    .button-command{
        display: flex;
        justify-content: center;
        & .command{
            @include commande;
            font-size: 1em;
            background: linear-gradient(0deg, $color-primary, $color-secondary);
        }
    }
}

@media screen and (min-width: 760px){
    .menu-image img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .card-title-icon{
        justify-content: center;
    }
    .card-icon{
        position: unset !important;
        padding-left: 30px;
    }
    .cards-menu{
        grid-template-rows: repeat(2, 1fr) !important;
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-title h2{
        text-align: center;
    }
    .card .cards-entrees-title-trait{
        width: 95% !important;
    }
    .command{
        margin-top: 45px !important;
    }
}
@media screen and (min-width: 1140px){
    .menu-image img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .cards-menu{
       display: $display !important;
       justify-content: space-around;
    }
    .cards-entrees, .cards-plats, .cards-desserts{
        width: 33%;
    }
    .card .cards-entrees-title-trait{
        width: 94% !important;
    }
    .command{
        margin-top: 50px !important;
    }
}
