body{
    font-family: $policy-text;
}
*{
    @include dim-pages (border-box, 0px, 0px);
}

//FOOTER de toutes les pages
.footer{
    @media screen and (min-width: 375px){
     background-color: $color3;
     color: $color4;
        .footer-infos{
            padding: $dimension-padding;
        }
        .footer-title{
            font-family: $policy;
            font-weight: normal;
            padding: 27px 0;
        }
        .footer-menu li{
            list-style: none;
            padding-bottom: 7px;
        }
        .footer-menu li a {
            color: $color4;
            text-decoration: none;
        }
        .footer-infos-icon-design{
            margin-right: 15px;
            display: $display3;
            width: 1px;
            & i{
                font-size: 11px;
            }
        }
    }
}
.footer{
    @media screen and (min-width: 560px){
        .footer-title{
            text-align: $align;
        }
        .footer-menu{
            display: $display2;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .footer-menu li{
            padding-bottom: 0px;
        }
        .liste-1, .liste-2, .liste-3, .liste-4{
            display: $display;
            justify-content: $content;
            line-height: 2em;
        }
    }
}
.footer{
    @media screen and (min-width: 800px){
        .footer-title{
            text-align: $align;
        }
        .footer-menu{
            display: $display;
            justify-content: space-around;
        }
    }
}
// HEADER des pages menus
.header{
    @media screen and (min-width: 375px){
        @include flexible($display,$direction,$content,$align);
        padding: 23px 0;
        font-family: $policy;
        .header-icon{
            position: $position2;
            left: 5%;
        }
        .header-logo{
            font-size: 2em;
        }
    }
 }
//IMAGE de la carte du menu
.menu-image{
    @media screen and (min-width: 375px){
        img{
            width: 100%;
        }
    }
}
//MENU de la carte
.card{
    @media screen and (min-width: 375px){
        position: $position;
        z-index: 1;
        bottom: 50px;
        background-color: $color4;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .card-title-icon{
        margin-left: 14px;
        margin-right: 14px;
        padding-top: 35px;
        font-family: $policy;
        padding-bottom: 36px;
        display: $display;
    }
    .card-icon{
        font-size: 1.5em;
        margin: $margin;
        position: $position;
        left: 20%;
    }
    i:active{
        font-weight: 600;
        color: $color6;
        background: linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip:text;
        -webkit-text-fill-color:$color6;
        transition: all 500ms ease-in-out;
    }
    .cards-entrees-title{
        padding-bottom: 10px;
    }
    .cards-entrees-title h2{
        font-size: 1em;
        font-weight: 400;
        margin-left: 14px;
        padding-bottom: 5px;
    }
    .cards-entrees-title-trait{
        background-color: $color-tertiary;
        height: 5px;
        width: 12%;
        margin-left: 14px;
    }
    .card-entrees-card{
        margin-left: 14px;
        margin-right: 14px;
        border: $border;
        border-radius: 20px;
        box-shadow: $ombre2;
        height: 70px;
        margin-bottom: 15px;
        display: $display;
        align-items: $align2;
        justify-content: $content3;
        padding-left: 10px;
    }
    .card-entrees-title{
        padding-left: 10px;
        font-size: 1em;
        font-weight: 200;
    }
    .card-entrees-info-price{
        display: $display;
        padding-left: 10px;
        font-size: 1em;
    }
    .card-entree-description h3{
        margin-top: 10px;
    }
}