@mixin flexible{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//Margin et padding sur toutes les pages
@mixin dim-pages{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

<<<<<<< HEAD
=======

>>>>>>> 75aa4e7b9e7c03d8b0114df82aafb7e78abb5964
//LOADING SPINNER
@mixin loading-spinner{
    display: $display;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 15;
    animation: animation__spiner 1s 1s forwards;
}
//LOADING SPINNER - Animation Logo
@mixin loading-spinner-logo{
    font-size: 1.6rem;
    font-family: $policy;
    color: #000;
    position: absolute;
    animation: anim_text 800ms infinite backwards;
}
//LOADING SPINNER - Ligne bleu-magenta (Couleur Primaire).
@mixin color-primary{
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid $color-primary;
    animation: spiner 2s linear 200ms infinite;
}
//LOADING SPINNER - Ligne magenta (Couleur Secondaire).
@mixin color-secondary{
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-top-color: $color-secondary;
    animation: spiner 1s linear 600ms infinite;
}
//LOADING SPINNER - Ligne Cyan (Couleur Tertiaire).
@mixin color-tertiary{
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-top-color: $color-tertiary;
    animation: spiner 1s linear infinite;
}

<<<<<<< HEAD
//Remplissage des coeurs.
@mixin heart-full($color-secondary, $color-primary){
    animation: animation_heart 600ms linear alternate both;
    background: linear-gradient(to bottom, $color-secondary, $color-primary);
    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    font-weight: 600;
    color: transparent;
}
=======


>>>>>>> 75aa4e7b9e7c03d8b0114df82aafb7e78abb5964

// MIXINS DE LA PAGE index.html

//Design des 2 premiers boutons (section Fonctionnement) de la page index.html
@mixin buttons-fonctionnement{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 95%;
    height: 10vh;
    background-color: #f6f6f6;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 30px;
    z-index: 1;      
}

//Design du bouton Explorer nos restaurants de la page index.html
@mixin button-explorer{
    border-radius: 30px;
    border: none;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    cursor: pointer;
    color: #fff;
    background: linear-gradient(0deg, $color-primary 0%, $color-secondary 120%);       
    font-size: 1em;
    font-weight: 400;
    padding: 0 20px;
    width: 100%;
    height: 8vh;
}

//Survol des boutons principaux: adoucissement couleur de fond et ombre visible.
@mixin button-main{
    opacity: 0.5;
    box-shadow: 0 5px 10px rgb(0 0 0 / 70%);
}

//Icone Nombre sur les 3 boutons (Choisir un restaurant, Composition du menu, Dégustez au restaurant).
@mixin icon-number($color-primary){
    background-color: $color-primary;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    z-index: 2;
    left: -12px;
}

//Liste des restaurants (Positionnement).
@mixin restaurant-card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
}

//Information "Nouveau" concernant le restaurant.
@mixin info($color-tertiary){
    position: absolute;
    background-color: $color-tertiary;
    color: #169475;
    top: 13px;
    right: 13px;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.90em;
}




// MIXINS DES DIFFERENTES PAGES MENUS POUR CHAQUES RESTAURANTS

//Menus
@mixin menu{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "nom nom check" "description prix check";
    margin: 0 14px;
    height: 10vh;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    margin-bottom: 15px;
    padding-left: 0 23px;
    align-items: center;
}

//Trait vert en-dessous de  Entrées, Plats et Desserts.
@mixin trait-vert ($color-tertiary){
    background-color: $color-tertiary;
    height: .7vh;
    width: 40px;
    margin-left: 14px;
}

//Menu check
@mixin check($color-tertiary){
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    box-sizing: border-box;
    transition: all 400ms ease-in-out;
    border-radius: 0px 20px 20px 0px;
    background-color: $color-tertiary;
    align-self: stretch;
    width: 0px;
}

//Icone Check Transition
@mixin transition-check($color-tertiary){
    transition: all 400ms ease-in-out;
    transform: rotate(360deg);
    border-radius: 20px;
    background-color: #fff;
    color: $color-tertiary;
}

//Icone Check
@mixin menu-check{
    display: flex;
    align-self: center;
    font-size: 1.2rem;
    color: #fff;
    overflow: hidden;
}

//Masque texte du menu
@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

//Bouton Commande
@mixin commande{
    margin-top: 50px;
    margin-bottom: 83px;
    height: 6vh;
    border-radius: 30px;
    width: 200px;
    color:#fff;
    cursor: pointer;
    border: none;
}