//Couleurs
$color-primary: #9356cd;
$color-secondary: #ff79da;
$color-tertiary: #99e2D0;
$color: #fff;

//Polices
$policy: 'Shrikhand';
$policy-text: 'Roboto';

// Alignement
$display: flex;
$display2: grid;
$align: center;