/*HEADER DE LA PAGE index.html*/
.header-index{
    @media screen and (min-width: 375px){
        background-color: $color;
        box-shadow: 0 0 15px rgb (0 0 0 / 100%);
        @include flexible;

        .header-logo{
            display: $display;
            justify-content: center;
            align-items: $align;
            padding: 23px 0; 
        }
            .logo{
                width: 46%;
                height: auto;
            }
    }
}

/*LOADING SPINNER DE LA PAGE index.html*/
@keyframes animation__spiner{
    to {
      visibility: hidden;
      display: none;
    }
  }
@keyframes spiner{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes anim_text {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.animation-loading-spinner {
    @include loading-spinner;
}

/* Logo */
.loading-spinner-logo {
    @include loading-spinner-logo;
}

/* Ligne circulaire bleu-magenta */
.loading-spinner {
    @include color-primary;
}

.loading-spinner::before,
.loading-spinner::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 5px solid transparent;
}

/* Ligne circulaire magenta */
.loading-spinner::before {
    @include color-secondary;
}
  
/* Ligne circulaire vert clair */
.loading-spinner::after {
    @include color-tertiary
}

/*SECTION LOCALISATION de la page index.html*/
.localisation{
    @media screen and (min-width: 375px){
        @include flexible;
        background-color: #eaeaea;
        opacity: 0.8;
    }
    .localisation-choix{
        display: $display;
        justify-content: space-between;
        align-items: $align;
        width: 160px;
        padding: 16px 0;
    }
    input[type=text]{
        width: 100%;
        background-color: transparent;
        border: none;
        text-align: $align;
        font-size: 1em;
        &::placeholder{
            color: #000;
            opacity: 1;
        }
    }
}

/*SECTION RESERVATION de la page index.html*/
.booking{
    @media screen and (min-width: 375px){
        @include flexible;
        background-color: #f6f6f6;

        .booking-title{
            width: 70%;
            text-align: $align;
            padding-top: 40px;
        }
        .booking-description{
            width: 80%;
            text-align: $align;
            padding-top: 20px;
        }
        .booking-button-explorer{
            padding: 30px 0 57px 0;
        }
            .explorer{
                @include button-explorer;
                /*Adoucissement du bouton Explorer au survol du curseur de la souris sur la bouton.*/
                transition: opacity 600ms ease-in-out;
                &:hover{
                    @include button-main;
                }
            }
    }
}

/*SECTION FONCTIONNEMENT de la page index.html*/
.operations{
    @media screen and (min-width: 375px){
        margin: 0 20px 38px 20px;

        .operation-title{
            padding: 51px 0 34px 0;
        }
        .operation-position{
            display: $display2;
            grid-template-rows: repeat(3, 1fr);
            align-items: $align;
        }
        &.choix{
            grid-area: choix;
        }
        &.composition{
            grid-area: composition;
        }
        &.degustation{
            grid-area: degustation;
        }
        .operation{
            @include buttons-fonctionnement;
            /*Adoucissement des 3 boutons (Choix, Composition et Dégustation) au survol du curseur de la souris sur la bouton.*/
            transition: opacity 600ms ease-in-out;
                &:hover{
                    @include button-main;
                }
                &.color{
                    background: #f5eefe;
                }
            .operation-number{
                @include icon-number($color-primary);
            }
            .operation-icone{
                position: absolute;
                left: 10%;
            }
            .color-prim{
                color: $color-primary;
            }
            .operation-text{
                position: absolute;
                left: 20%;
                font-weight: 600;
            }
        }
    }
}
.operations{
    @media screen and (min-width: 560px){
        .operation-position{
            display: $display2;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 200px;
            margin-bottom: 30px;
        }
        .choix, .composition, .degustation{
            width: 90%;
            margin-left: 3%;
        }
    }     
}
.operations{
    @media screen and (min-width: 800px){
        .operation-position{
            height: 100px;
            display: $display;
            justify-content: space-around;
            margin-bottom: 68px;
        }
        .choix, .composition, .degustation{
            width: 90%;
            margin-left: 1%;
        }
        .choix, .composition{
            margin-right: 15px;
        }
    }     
}

//SECTION RESTAURANTS de la page index.html
.restaurants{
    @media screen and (min-width: 375px){
        background-color: #f6f6f6;
        padding: 59px 0 44px 0;
        .restaurants-title{
            margin: 0px 20px;
            padding-bottom: 28px;
        }
        .restaurants-cards{
            margin: 0px 20px;
            display: $display2;
            grid-template-rows: repeat(4, 1fr);
        }
        .restaurant-card{
            @include restaurant-card;
        }
        .restaurant-info{
            @include info($color-tertiary);
        }
        .restaurant-card-lien{
            text-decoration: none;
            color: #000;
        }
        .restaurant-img img{
            width: 100%;
            height: 174px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .restaurant-title-icon{
            display: $display;
            justify-content: space-between;
            margin: 10px 25px 10px 14px;
        }
        .restaurant-icon{
            display: $display;
            flex-direction: column;
            justify-content: center;
            width: 10%;
            margin: auto 0px;
            font-size: 1.5em;
            position: absolute;
            right: 21px;
            bottom: 27px;
        }

        .restaurant-icon:active .heart-full{
        /*Animation replissage du coeur au clic + mixin*/
            @include heart-full($color-secondary, $color-primary);
        }
        
        @keyframes animation_heart {
            0% {
              transform: scale(0.1);
            }
            100% {
              transform: scale(1.1);
            }
        }
    }
}
.restaurants{
    @media screen and (min-width: 560px){
        .restaurants-cards{
            display: $display2;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .palette, .francaise{
            width: 95%;
        }
    }
}
.restaurants{
    @media screen and (min-width: 800px){
        .restaurants-cards{
            display: $display2;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .palette, .enchantee, .delice{
            width: 92%;
        }
    }
}
.restaurants{
    @media screen and (min-width: 1060px){
        .restaurants-cards{
            display: $display;
            justify-content: space-around;
        }
        .palette, .enchantee, .francaise{
            margin-right: 20px;
        }
    }
}